* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	width: 800px;
	margin-bottom: 30px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid teal;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}

.post__btns {
	display: flex;
}

.post__about {
	display: flex;
	width: 800px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.post-enter {
	transform: translateX(-350px);
}

.post-enter-active {
	transform: translateX(0px);
	transition: all 500ms ease-in;
}

.post-exit {
	opacity: 1;
}

.post-exit-active {
	transform: translateX(-350px);
	transition: all 500ms ease-in;
}

.page__wrapper {
	margin-top: 30px;
	display: flex;
}

.page {
	padding: 10px;
	border: 1px solid teal;
	margin-right: 10px;
	cursor: pointer;
}

.page__current {
	border: 2px solid orange;
	font-weight: bold;
}

.navbar {
	height: 50px;
	width: 800px;
	display: flex;
	justify-content: right;
	background: lightseagreen;
	align-items: center;
}

.navbar__links {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 15px;
	padding: 5px 15px;
	font-size: 14px;
	background: transparent;
	border: 1px solid white;
	cursor: pointer;
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
}

.error__text {
	color: red;
	text-transform: uppercase;
	font-weight: bold;
}